.pic-container {
    background-color: transparent;
    height: 365px;
    width: 360px;
    filter: 
        drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.5)) 
        drop-shadow(-1px -1px 0px rgba(255, 255, 255, 0.5))
        drop-shadow(0 0 30px rgba(0, 0, 0, 0.5));
}

.picture{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    clip-path: path("M 0,0 L 360,0 L 360,325 L 180,325 L 180,365 L 0,365 L 0,0 Z");
}

.apod-image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}