
.Poster {
  margin-top: 5%;
  margin-left: 40%;
  position: relative;
  display: flex;
  height: 400px;
  width: 700px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
}

.card {
    position:relative;
    height:400px;
    width:700px;
    clip-path: path('M 0,100 A 50,50 0,0,1 50,50 L 250,50 C 275 50, 275,0 300,0 L 650,0 A 50,50 0,0,1 700,50 L 700,350 A 50,50 0,0,1 650,400 L 50,400 A 50,50 0,0,1 0,350 Z');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .card > img {
    height:100%;
    width:100%;
    object-fit:fill;
} */

.Cardtitle {
    position: absolute;
    top:0;
    left:0;
    width:300px;
    height: 50px;
    background-color: transparent;
    color:aliceblue;
    clip-path: path('M 0 50 A 50 50 0 0 1 50 0 L 300 0 C 275 0 275 50 250 50 L 50 50 A 50 50 0 0 0 0 100 Z');  
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: larger;
    border:1cm;
}

.Cardtitle::before {
    content: "";
    position: absolute;
    top: 50px; 
    left: 0;
    width: 50px;
    height: 52px; 
    background-color: inherit; 
    clip-path: path('M 0 0 L 50 0 A 50 50 0 0 0 0 50 Z');
    z-index: -1; 
}