
.Poster {
  margin-top: 3%;
  margin-left: 47%;
  position: absolute;
  display: flex;
  height: 420px;
  width: 750px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
}

/* Container for the card */
.card {
  position: relative;
  width: 100%;
  border-radius: 16px; 
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: path("M ");
}

/* The Custom Tech Badge */
.label-pill {
  position: absolute;
  top: 10px;
  left: 10px;
  
  /* SIZING & SPACING */
  padding: 8px 16px;
  
  /* THE CUSTOM SHAPE (Clip-path cuts the corner) */
  background: rgba(0, 0, 0, 0.6); 
  clip-path: polygon(
    0 0,           /* Top Left */
    100% 0,        /* Top Right */
    100% 70%,      /* Right side down */
    85% 100%,      /* The Angled Cut */
    0 100%         /* Bottom Left */
  );

  /* BORDER HACK (Since clip-path cuts borders, we use a backdrop or shadow) */
  border-left: 2px solid #a855f7; /* Purple accent line on the left */
  
  /* GLASS EFFECT */
  backdrop-filter: blur(8px);
  
  /* TEXT STYLING */
  color: #e2e8f0;
  font-family: 'Courier New', Courier, monospace; /* Tech font is crucial! */
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 2px; /* Wide spacing = Cinematic */
  font-weight: bold;
  z-index: 69;
}

.label-bottom {
  position: absolute;
  top: 385px;
  left: 650px;
  
  /* SIZING & SPACING */
  padding: 8px 16px;
  
  /* THE CUSTOM SHAPE (Clip-path cuts the corner) */
  background: rgba(0, 0, 0, 0.6); 
  clip-path: polygon(
    0 0,           /* Top Left */
    100% 0,        /* Top Right */
    100% 70%,      /* Right side down */
    85% 100%,      /* The Angled Cut */
    0 100%         /* Bottom Left */
  );

  /* BORDER HACK (Since clip-path cuts borders, we use a backdrop or shadow) */
  border-left: 2px solid #a855f7; /* Purple accent line on the left */
  
  /* GLASS EFFECT */
  backdrop-filter: blur(8px);
  
  /* TEXT STYLING */
  color: #e2e8f0;
  font-family: 'Courier New', Courier, monospace; /* Tech font is crucial! */
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 2px; /* Wide spacing = Cinematic */
  font-weight: bold;
  z-index: 69;
}

.welcomeText-container {
  position: absolute;
  top: 20%;
  left: 2%;
  width: 650px;
  height: 300px;
  background-color: transparent;
  
}

.rocketImage {
  position: absolute;
  top: 25%;
  right: 30%;
  width: 300px;
  height: 200px;
}

.spaceFact {
  margin-top: 444px;
  color: aliceblue;
  position: relative;
  padding: 0 50px;
  font-size: 1.5rem;
  z-index: 2000;
}

.open-quote {
  display: inline-block;
  top: -30px;
  left: 20px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  opacity: 1;
}

.close-quote {
  
  display: inline-block;    
  width: 40px;
  height: 40px;
  margin-left: 10px;        
  vertical-align: middle;   
  opacity: 1;
  position: relative;       
  top: 18px;                
}