 * {
    box-sizing: border-box;
 }
 
 
 body {
    margin: 0;
    height: 100vh;
    display: flex
}

div#root {
    height: 100%;
    width: 100%;
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
