
.portal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 630px;
    overflow: hidden;
}

#portal {
    width: 0px;
    height: 0px;
    box-shadow: 0 0 30px #00f0ff, inset 0 0 30px #00f0ff;
    position : relative;
    animation: rotate 0.69s linear infinite;
}

.spark {
    position: absolute;
    width: 1px;
    height: 0px;
    background: linear-gradient(#00f0ff, transparent);
    transform-origin: top left;
    animation: resizer 1s ease-in-out infinite;

}

/* @keyframes pulse {
    0% {
        box-shadow: 0 0 30px #00f0ff, inset 0 0 30px #00f0ff;
        transform: scale(1);
    }
    50% {
        box-shadow: 0 0 60px #00f0ff, inset 0 0 60px #00f0ff;
        transform: scale(1.1);
    }
    100% {
        box-shadow: 0 0 30px #00f0ff, inset 0 0 30px #00f0ff;
        transform: scale(1);
    }
    
}  */

@keyframes resizer {
  0% {
    height: 60px;
  }
  50% {
    height: 64px; /* This creates the jagged outer edge */
  }
  100% {
    height: 60px;
  }
}

/* Rotates the entire portal assembly */
@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1.69);
  }
  to {
    transform: rotate(360deg) scale(1.69);
  }
}

