.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83.6vh;
}

.register-card {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 800px;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    color:aliceblue;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}

.form-wrapper {
    position: relative;
    display:flex;
    justify-content: center;
    height:100%;
}

.form-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    width: 100%;
    height: 100%;
}

.reg-username {
    padding: 10px;
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border-bottom: 2px solid aliceblue;
}

.reg-username input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: aliceblue;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 35px;
}

.reg-username label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: aliceblue;
    pointer-events: none;
    transition: 0.3s;
    font-size: 1rem;
}

.reg-username input:focus~label,
.reg-username input:valid~label {
    top: -1px;
}

.reg-mail-icon {
    position: absolute;
    top: 50%;
    left: 320px;
    transform: translateY(-50%);
    color: aliceblue;
    font-size: 1.2rem;
}

.reg-email {
    padding: 10px;
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border-bottom: 2px solid aliceblue;
}

.reg-email input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: aliceblue;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 35px;
}

.reg-email label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: aliceblue;
    pointer-events: none;
    transition: 0.3s;
    font-size: 1rem;
}

.reg-email input:focus~label,
.reg-email input:valid~label {
    top: -1px;
}

.reg-pass {
    padding: 10px;
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border-bottom: 2px solid aliceblue;
}

.reg-pass input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: aliceblue;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 35px;
}

.reg-pass label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: aliceblue;
    pointer-events: none;
    transition: 0.3s;
    font-size: 1rem;
}

.reg-pass input:focus~label,
.reg-pass input:valid~label {
    top: -1px;
}

.reg-confirm-pass {
    padding: 10px;
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border-bottom: 2px solid aliceblue;
}

.reg-confirm-pass input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: aliceblue;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 35px;
}

.reg-confirm-pass label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: aliceblue;
    pointer-events: none;
    transition: 0.3s;
    font-size: 1rem;
}

.reg-confirm-pass input:focus~label,
.reg-confirm-pass input:valid~label {
    top: -1px;
}

.reg-pass-icon {
    position: absolute;
    top: 50%;
    left: 320px;
    transform: translateY(-50%);
    color: aliceblue;
    font-size: 1.2rem;
}

.reg-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 10px;
    width: 100%;
    height: 70%;
}

.register-button {
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding: 10px;
    border: none;
    border-radius: 16px;
    background-color: aliceblue;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    width: 52%;
    margin-bottom: 10px;
}

.register-button:hover {
    background-color: black;
    color: aliceblue;
}

register-login {
    text-align: center;
    margin: 25px 0 10px;
}

.register-login p a {
    color:rgb(14, 219, 31);
    text-decoration: none;
    font-weight: bold;
}

.register-login p a:hover {
    text-decoration: underline;
    color: blueviolet;
}
