.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83.6vh;
}

.register-card {
    display: flex;
    justify-content: center;
    height: 450px;
    width: 800px;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    color:aliceblue;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}